<div class="container">
    <!-- ======= Events Section ======= -->
<section id="events" class="events">
    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>Events</h2>
            <p>Enjoy <span>Your Moments</span> In Our Restaurant Events</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                    style="background-image: url(assets/img/event-1.jpeg)">
                    <h3>Stand Up Comedy</h3>
                    <h2 class="text-light" style="color:white !important">Coming Soon</h2>
                    <div class="price align-self-start">₹2499</div>
                    <p class="description">
                        Anubhav Singh Bassi is here to entertain us with his stories. He is a lawyer turned UPSC
                        aspirant turned entrepreneur turned stand-up comedian.
                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                    style="background-image: url(assets/img/event-2.jpeg)">
                    <h3>DJ Night</h3>
                    <h2 class="text-light" style="color:white !important">Coming Soon</h2>
                    <div class="price align-self-start">₹2999</div>
                    <p class="description">
                        DJ Snake is back to India with a brand new DJ Night planned at our restaurant. Dance to your
                        capacity and enjoy the vibe.
                    </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                    style="background-image: url(assets/img/event-3.jpeg)">
                    <h3>Magic Show</h3>
                    <h2 class="text-light" style="color:white !important">Coming Soon</h2>
                    <div class="price align-self-start">₹2000</div>
                    <p class="description">
                        Suhani Shah is here to play with your mind and trap you in her endless loop of illusions. So,
                        get ready for a mind boggling experience.
                    </p>
                </div><!-- End Event item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End Events Section -->
</div>